@font-face {
	font-family: myFirstFont;
	src: url(Roboto-Regular.ttf);
}
::-webkit-scrollbar- { width: 0 !important }
* {
	font-family: "myFirstFont";
	-webkit-user-select: none;
	white-space:pre-line;
}
body {
	overflow: hidden;
	overflow-x: hidden;
	word-wrap:break-word;
	white-space: pre
}

#container::-webkit-scrollbar {
    width: 1em;
}

#numberOf{
	right:0%;
	top:0%;
	z-index:1;
	font-size: 20px;
}

span {
	font-size: 72px;
}
#question {
	background: #FFF;
	font-size: 62px;
	width: 100%;
	
}
#question img,iframe{
	display:block;
	margin-left: auto;
    margin-right: auto;
}
#showBut {
	padding-top:5px;
	cursor: url(cur/quest.cur), pointer;
	position: relative;
	left: 35%;
	vertical-align: middle;
}
#showBut span {
	background-color:#FFd;
	text-decoration:underline;
}
#answer {
	background-color: #FFF;
	visibility: hidden;
	text-align: center;
	width: 100%;
	font-size: 72px;
}
#answer p{
	font-size:0.2em;
}

#logo {
	padding:10px;
 	content:url(cur/pubQuizLogopng.png);
	width:214px;
	height:auto;
	position: absolute;
	right: 0;
	bottom:0;
	z-index:1;
}
#next {
	position: absolute;
	top: 0;
	right: 0;
	width: 10%;
	height: 100%;
	cursor: url(cur/next.cur), pointer;
}
#prew {
	position: absolute;
	top: 0;
	left: 0;
	width: 10%;
	height: 100%;
	cursor: url(cur/prew.cur), pointer;
}
#container {
	background-color:#FFF;
	width: 80%;
	height: 100%;
	position: absolute;
	left: 10%;
	top:0%;
	overflow-y:auto;
	overflow-x:hidden;
}
#paused{
	visibility:hidden;
}

#topic {
	vertical-align:central;
	text-align:center;
}
#topic span {
	font-size: 160px
}
img {
	margin-left:auto;
	margin-right:auto;
    display: block;
  /*  max-width:640px;*/
    max-height:640px;
    width: auto;
    height: auto;
}
iframe{
	margin-top:20px;
outline-color:#999;
}
#butholder{
position:absolute;
bottom:10%;
width:100%;
height:50px;
margin:auto;
display:inline;

}
#but1,#but2,#but3,#but4,#but5{
	width:50px;
	height:50px;
	border-radius:50%;
	background-color:#FC9;
	display:inline-block;
	 border: 10px solid #999;
	 margin:auto;
	
}
#but1:hover,#but2:hover,#but3:hover,#but4:hover,#but5:hover{
	background-color:#FC3;
}
#con0{
	margin:auto;
	content:url(cur/pubQuizLogopng.png);
	visibility:visible;
}

#con1{
	margin:auto;
	content:url(img/1.png);
	visibility:hidden;
}
#con2{
	margin:auto;
	content:url(img/2.jpg);
	visibility:hidden;
}
#con3{
	margin:auto;
	content:url(img/3.jpg);
	visibility:hidden;
}
#con4{
	margin:auto;
	content:url(img/4.jpg);
	visibility:hidden;	
}
#con5{
	margin:auto;
	content:url(img/5.jpg);
	visibility:hidden;
	position:absolute;
	top:10%;
}


